<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #formRef="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" 
                   id="username" 
                   [ngModel]="defaultName"
                   name="username"
                   class="form-control"
                   relquired>
          </div>
          <button class="btn btn-default" 
                  type="button"
                  (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" 
                   id="email" 
                   ngModel
                   name="email"
                   class="form-control"
                   required
                   email
                   #emailInp="ngModel">
          <p *ngIf="emailInp.invalid && emailInp.touched" class="text-danger">Please enter a valid email</p>
          </div>
        </div>
        <strong><p class="text-danger" *ngIf="userData.invalid && userData.touched">User Data is not valid</p></strong>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" 
                  [ngModel]="defaultPet"
                  class="form-control"
                  name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div>
          <textarea name="questionAnswer" [(ngModel)]="answer" class="form-control" rows="3"></textarea>
        </div>
        <p>Your answer is: {{answer}}</p>
        <div *ngFor="let gender of genders">
          <label>
            <input type="radio"
                    ngModel
                    name="gender"
                    [value]="gender"
                    required>
                    {{gender}}
          </label>
        </div>
        <button class="btn btn-primary" 
                type="submit"
                [disabled]="formRef.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>




<!-- <h1>
  Sign in
</h1>
<button (click)="socialSignIn()">Sign in with Google</button>  -->